<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <DOTNET_GCConserveMemory>9</DOTNET_GCConserveMemory>
      <DOTNET_GCHighMemPercent>32</DOTNET_GCHighMemPercent>
      <DOTNET_GCHeapHardLimitPercent>46</DOTNET_GCHeapHardLimitPercent>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
