<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TestSessionTimeout>1200000</TestSessionTimeout>
  </RunConfiguration>
  <xUnit>
    <MaxParallelThreads>2</MaxParallelThreads>
    <ParallelizeTestCollections>true</ParallelizeTestCollections>
    <ParallelizeAssembly>false</ParallelizeAssembly>
  </xUnit>
</RunSettings>
