name: Nuke CICD Pipeline
on:
  push:
    branches:
    - master
    - prerelease
    tags:
    - bump-*
  pull_request:
    branches:
    - '**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  PRE_SETUP:
    name: Pre Setup
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - id: NUKE_RUN
      name: Run Nuke PipelinePreSetup
      run: chmod +x ./build.sh && ./build.sh PipelinePreSetup
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      NUKE_PRE_SETUP: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP }}
      NUKE_PRE_SETUP_OUTPUT_TEST_MATRIX: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_OUTPUT_TEST_MATRIX }}
      NUKE_PRE_SETUP_OUTPUT_BUILD_MATRIX: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_OUTPUT_BUILD_MATRIX }}
      NUKE_PRE_SETUP_OUTPUT_PUBLISH_MATRIX: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_OUTPUT_PUBLISH_MATRIX }}
      NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CONDITION }}
      NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_RUNS_ON }}
      NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_RUN_SCRIPT }}
      NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CONDITION }}
      NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_RUNS_ON }}
      NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_RUN_SCRIPT }}
      NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CONDITION }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_RUNS_ON }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_RUN_SCRIPT }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CONDITION }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_RUNS_ON }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_RUN_SCRIPT }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_MAIN_RESTORE_KEY }}
  NETCONDUITLINUXX64BUILD:
    name: Build - net_conduit (NetConduitLinuxX64Build)
    runs-on: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_RUNS_ON }}
    steps:
    - uses: actions/checkout@v4
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke PipelineBuild
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_RUN_SCRIPT }} PipelineBuild --args "NetConduitLinuxX64Build"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: net_conduit___NETCONDUITLINUXX64BUILD
        path: ./.nuke/output/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXX64BUILD_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  NETCONDUITLINUXARM64BUILD:
    name: Build - net_conduit (NetConduitLinuxArm64Build)
    runs-on: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_RUNS_ON }}
    steps:
    - uses: actions/checkout@v4
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke PipelineBuild
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_RUN_SCRIPT }} PipelineBuild --args "NetConduitLinuxArm64Build"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: net_conduit___NETCONDUITLINUXARM64BUILD
        path: ./.nuke/output/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITLINUXARM64BUILD_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  NETCONDUITWINDOWSX64BUILD:
    name: Build - net_conduit (NetConduitWindowsX64Build)
    runs-on: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_RUNS_ON }}
    steps:
    - uses: actions/checkout@v4
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke PipelineBuild
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_RUN_SCRIPT }} PipelineBuild --args "NetConduitWindowsX64Build"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: net_conduit___NETCONDUITWINDOWSX64BUILD
        path: ./.nuke/output/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSX64BUILD_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  NETCONDUITWINDOWSARM64BUILD:
    name: Build - net_conduit (NetConduitWindowsArm64Build)
    runs-on: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_RUNS_ON }}
    steps:
    - uses: actions/checkout@v4
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke PipelineBuild
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_RUN_SCRIPT }} PipelineBuild --args "NetConduitWindowsArm64Build"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: net_conduit___NETCONDUITWINDOWSARM64BUILD
        path: ./.nuke/output/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_NETCONDUITWINDOWSARM64BUILD_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  POST_SETUP:
    name: Post Setup
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        path: ./.nuke/temp/artifacts
    - name: Run Nuke PipelinePostSetup
      run: chmod +x ./build.sh && ./build.sh PipelinePostSetup
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    needs:
    - PRE_SETUP
    - NETCONDUITLINUXX64BUILD
    - NETCONDUITLINUXARM64BUILD
    - NETCONDUITWINDOWSX64BUILD
    - NETCONDUITWINDOWSARM64BUILD
    if: success() || failure() || always()
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
      NUKE_RUN_RESULT_GITHUB_NETCONDUITLINUXX64BUILD: ${{ needs.NETCONDUITLINUXX64BUILD.result }}
      NUKE_RUN_RESULT_GITHUB_NETCONDUITLINUXARM64BUILD: ${{ needs.NETCONDUITLINUXARM64BUILD.result }}
      NUKE_RUN_RESULT_GITHUB_NETCONDUITWINDOWSX64BUILD: ${{ needs.NETCONDUITWINDOWSX64BUILD.result }}
      NUKE_RUN_RESULT_GITHUB_NETCONDUITWINDOWSARM64BUILD: ${{ needs.NETCONDUITWINDOWSARM64BUILD.result }}
env: {}
