name: Nuke CICD Pipeline
on:
  push:
    branches:
    - master
    - prerelease
    tags:
    - bump-*
  pull_request:
    branches:
    - '**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  PRE_SETUP:
    name: Pre Setup
    runs-on:
      labels: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive
        persist-credentials: true
    - id: NUKE_RUN
      name: Run Nuke PipelinePreSetup
      run: chmod +x ./build.sh && ./build.sh PipelinePreSetup
    timeout-minutes: 30
    outputs:
      NUKE_PRE_SETUP: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP }}
      NUKE_PRE_SETUP_OUTPUT_TEST_MATRIX: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_OUTPUT_TEST_MATRIX }}
      NUKE_PRE_SETUP_OUTPUT_BUILD_MATRIX: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_OUTPUT_BUILD_MATRIX }}
      NUKE_PRE_SETUP_OUTPUT_PUBLISH_MATRIX: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_OUTPUT_PUBLISH_MATRIX }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CONDITION }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_RUNS_ON }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_RUN_SCRIPT }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_KEY }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_FETCH_DEPTH: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_FETCH_DEPTH }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_FETCH_TAGS: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_FETCH_TAGS }}
      NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_SUBMODULES: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_SUBMODULES }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CONDITION }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_RUNS_ON }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_RUN_SCRIPT }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_KEY }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_FETCH_DEPTH: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_FETCH_DEPTH }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_FETCH_TAGS: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_FETCH_TAGS }}
      NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_SUBMODULES: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_SUBMODULES }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CONDITION }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_RUNS_ON }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_RUN_SCRIPT }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_KEY }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_FETCH_DEPTH: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_FETCH_DEPTH }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_FETCH_TAGS: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_FETCH_TAGS }}
      NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_SUBMODULES: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_SUBMODULES }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CONDITION }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_RUNS_ON }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_RUN_SCRIPT }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_KEY }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_FETCH_DEPTH: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_FETCH_DEPTH }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_FETCH_TAGS: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_FETCH_TAGS }}
      NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_SUBMODULES: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_SUBMODULES }}
      NUKE_PRE_SETUP_PUBLISH_CONDITION: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_CONDITION }}
      NUKE_PRE_SETUP_PUBLISH_RUNS_ON: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_RUNS_ON }}
      NUKE_PRE_SETUP_PUBLISH_RUN_SCRIPT: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_RUN_SCRIPT }}
      NUKE_PRE_SETUP_PUBLISH_CACHE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_CACHE_KEY }}
      NUKE_PRE_SETUP_PUBLISH_CACHE_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_CACHE_RESTORE_KEY }}
      NUKE_PRE_SETUP_PUBLISH_CACHE_MAIN_RESTORE_KEY: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_CACHE_MAIN_RESTORE_KEY }}
      NUKE_PRE_SETUP_PUBLISH_CHECKOUT_FETCH_DEPTH: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_CHECKOUT_FETCH_DEPTH }}
      NUKE_PRE_SETUP_PUBLISH_CHECKOUT_FETCH_TAGS: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_CHECKOUT_FETCH_TAGS }}
      NUKE_PRE_SETUP_PUBLISH_CHECKOUT_SUBMODULES: ${{ steps.NUKE_RUN.outputs.NUKE_PRE_SETUP_PUBLISH_CHECKOUT_SUBMODULES }}
  BUILD_LINUX_X64:
    name: Build linux-x64
    runs-on: ${{ fromJson(needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_RUNS_ON) }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_FETCH_DEPTH }}
        fetch-tags: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_FETCH_TAGS }}
        submodules: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CHECKOUT_SUBMODULES }}
        persist-credentials: true
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/temp/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke build_linux_x64
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_RUN_SCRIPT }} Run --args "build_linux_x64"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build___net_conduit___BUILD_LINUX_X64
        path: ./.nuke/temp/artifacts-upload/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_X64_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  BUILD_LINUX_ARM64:
    name: Build linux-arm64
    runs-on: ${{ fromJson(needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_RUNS_ON) }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_FETCH_DEPTH }}
        fetch-tags: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_FETCH_TAGS }}
        submodules: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CHECKOUT_SUBMODULES }}
        persist-credentials: true
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/temp/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke build_linux_arm64
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_RUN_SCRIPT }} Run --args "build_linux_arm64"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build___net_conduit___BUILD_LINUX_ARM64
        path: ./.nuke/temp/artifacts-upload/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_LINUX_ARM64_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  BUILD_WIN_X64:
    name: Build win-x64
    runs-on: ${{ fromJson(needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_RUNS_ON) }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_FETCH_DEPTH }}
        fetch-tags: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_FETCH_TAGS }}
        submodules: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CHECKOUT_SUBMODULES }}
        persist-credentials: true
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/temp/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke build_win_x64
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_RUN_SCRIPT }} Run --args "build_win_x64"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build___net_conduit___BUILD_WIN_X64
        path: ./.nuke/temp/artifacts-upload/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_X64_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  BUILD_WIN_ARM64:
    name: Build win-arm64
    runs-on: ${{ fromJson(needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_RUNS_ON) }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_FETCH_DEPTH }}
        fetch-tags: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_FETCH_TAGS }}
        submodules: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CHECKOUT_SUBMODULES }}
        persist-credentials: true
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/temp/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke build_win_arm64
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_RUN_SCRIPT }} Run --args "build_win_arm64"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build___net_conduit___BUILD_WIN_ARM64
        path: ./.nuke/temp/artifacts-upload/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_BUILD_WIN_ARM64_CONDITION == 'true'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  PUBLISH:
    name: Publish binaries
    runs-on: ${{ fromJson(needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_RUNS_ON) }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_CHECKOUT_FETCH_DEPTH }}
        fetch-tags: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_CHECKOUT_FETCH_TAGS }}
        submodules: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_CHECKOUT_SUBMODULES }}
        persist-credentials: true
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: ./.nuke/temp/artifacts-download
        pattern: build___net_conduit___*
    - name: Cache Run
      uses: actions/cache@v4
      with:
        path: ./.nuke/temp/cache
        key: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_CACHE_KEY }}
        restore-keys: |-
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_CACHE_RESTORE_KEY }}
          ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_CACHE_MAIN_RESTORE_KEY }}
    - id: NUKE_RUN
      name: Run Nuke publish
      run: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_RUN_SCRIPT }} Run --args "publish"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: publish___net_conduit___PUBLISH
        path: ./.nuke/temp/artifacts-upload/*
        if-no-files-found: error
        retention-days: 1
    needs:
    - PRE_SETUP
    - BUILD_LINUX_X64
    - BUILD_LINUX_ARM64
    - BUILD_WIN_X64
    - BUILD_WIN_ARM64
    if: "! failure() && ! cancelled() && needs.PRE_SETUP.outputs.NUKE_PRE_SETUP_PUBLISH_CONDITION == 'true' && needs.BUILD_LINUX_X64.result == 'success' && needs.BUILD_LINUX_ARM64.result == 'success' && needs.BUILD_WIN_X64.result == 'success' && needs.BUILD_WIN_ARM64.result == 'success'"
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
  POST_SETUP:
    name: Post Setup
    runs-on:
      labels: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive
        persist-credentials: true
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        path: ./.nuke/temp/artifacts-download
        pattern: publish___*
    - name: Run Nuke PipelinePostSetup
      run: chmod +x ./build.sh && ./build.sh PipelinePostSetup
    needs:
    - PRE_SETUP
    - BUILD_LINUX_X64
    - BUILD_LINUX_ARM64
    - BUILD_WIN_X64
    - BUILD_WIN_ARM64
    - PUBLISH
    if: success() || failure() || always()
    timeout-minutes: 30
    env:
      NUKE_PRE_SETUP: ${{ needs.PRE_SETUP.outputs.NUKE_PRE_SETUP }}
      NUKE_RUN_RESULT_GITHUB_BUILD_LINUX_X64: ${{ needs.BUILD_LINUX_X64.result }}
      NUKE_RUN_RESULT_GITHUB_BUILD_LINUX_ARM64: ${{ needs.BUILD_LINUX_ARM64.result }}
      NUKE_RUN_RESULT_GITHUB_BUILD_WIN_X64: ${{ needs.BUILD_WIN_X64.result }}
      NUKE_RUN_RESULT_GITHUB_BUILD_WIN_ARM64: ${{ needs.BUILD_WIN_ARM64.result }}
      NUKE_RUN_RESULT_GITHUB_PUBLISH: ${{ needs.PUBLISH.result }}
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
